:root {
  --border-radius-m: 4px;
  --border-radius-l: 8px;

  --color-blue-10: #eaedfb;
  --color-blue-25: #cbd3f7;
  --color-blue-40: #abb9f2;
  --color-blue-55: #8c9fed;
  --color-blue-70: #6d85e9;
  --color-blue-85: #4e6be4;
  --color-blue-100: #2f52e0;
  --color-blue-200: #2b4bcc;
  --color-blue-300: #2744b8;

  --color-red-10: #faefef;
  --color-red-25: #f4d7d7;
  --color-red-40: #eebfc0;
  --color-red-55: #e7a7a8;
  --color-red-70: #e18f91;
  --color-red-85: #db7779;
  --color-red-100: #d56062;
  --color-red-200: #c2585a;
  --color-red-300: #af4f51;

  --color-green-10: #eff9f0;
  --color-green-25: #d7f0db;
  --color-green-40: #c0e7c5;
  --color-green-55: #a8deb0;
  --color-green-70: #91d59a;
  --color-green-85: #79cc85;
  --color-green-100: #62c370;

  --color-orange-10: #fdf5eb;
  --color-orange-25: #fae6cf;
  --color-orange-40: #f7d7b2;
  --color-orange-55: #f5c895;
  --color-orange-70: #f2b979;
  --color-orange-85: #efaa5c;
  --color-orange-100: #ed9b40;

  --color-darkGrey-10: #eaebed;
  --color-darkGrey-25: #cccfd3;
  --color-darkGrey-40: #adb2b9;
  --color-darkGrey-55: #8e959f;
  --color-darkGrey-70: #707885;
  --color-darkGrey-85: #515b6b;
  --color-darkGrey-100: #333f52;

  --color-grey-10: #f9fafb;
  --color-grey-25: #f0f3f6;
  --color-grey-40: #e7ecf1;
  --color-grey-55: #dfe5ec;
  --color-grey-70: #d6dee7;
  --color-grey-85: #cdd7e2;
  --color-grey-100: #c5d0de;

  --color-black-10: rgba(34, 34, 34, .10);
  --color-black-25: rgba(34, 34, 34, .25);
  --color-black-40: rgba(34, 34, 34, .40);
  --color-black-55: rgba(34, 34, 34, .55);
  --color-black-70: rgba(34, 34, 34, .70);
  --color-black-85: rgba(34, 34, 34, .85);
  --color-black-100: rgba(34, 34, 34, 1);

  --color-white-10: rgba(255, 255, 255, .10);
  --color-white-25: rgba(255, 255, 255, .25);
  --color-white-40: rgba(255, 255, 255, .40);
  --color-white-55: rgba(255, 255, 255, .55);
  --color-white-70: rgba(255, 255, 255, .70);
  --color-white-85: rgba(255, 255, 255, .85);
  --color-white-100: rgba(255, 255, 255, 1);

  --color-font-primary: var(--color-black-100);
  --color-font-secondary: var(--color-black-70);
  --color-font-disabled: var(--color-black-55);

  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-s: 12px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;

  --transition-short: .08s;
  --transition-medium: .15s;
  --transition-long: .2s;

  --zIndex-behind: -1;
  --zIndex-default: 1;
  --zIndex-infront: 10;
  --zIndex-modal: 20;
  --zIndex-notification: 30;
}