@import '../../variables.css';

.guest {
  border-bottom: 1px solid var(--color-blue-25);
  padding-bottom: var(--spacing-l);
  margin-top: var(--spacing-m);
  flex-shrink: 0;
  width: 280px;
}

.guest:not(.mobile) {
  margin-left: var(--spacing-l);
}

.section {
  margin-top: var(--spacing-s);
}

.input {
  margin-top: var(--spacing-xxs);
}
