.container {
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  /* Computed as guest width + (2 * spacing-s) */
  max-width: 269px;
}

@media (min-width: 538px) {
  .container {
    max-width: 538px;
  }
}

@media (min-width: 807px) {
  .container {
    max-width: 807px;
  }
}
