@import '../../variables.css';

.input {
  border: 1px solid var(--color-blue-55);
  border-radius: var(--border-radius-m);
  color: var(--color-font-primary);
  padding: var(--spacing-s);
  margin-top: var(--spacing-xs);
  flex-grow: 1;
  width: 100%;
}
