@import '../../variables.css';

.root {
  align-items: center;
  position: fixed;
  top: 0;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--zIndex-modal);
  display: flex;
}

.backdrop {
  position: absolute;
  background: var(--color-black-85);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.image {
  max-width: 100vw;
  max-height: 100vh;
  user-select: none;
}
