@import '../../variables.css';

.body {
  padding: 0 var(--spacing-xs);
  width: 100%;
}

@media (min-width: 720px) {
  .body {
    width: 720px;
  }
}

.p,
.playlistLink {
  padding: 0 var(--spacing-xs);
}

.playlistLink {
  font-size: 14px;
  font-style: italic;
  margin-top: var(--spacing-xs);
}
