@import '../../variables.css';

.root {
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-m);
  width: 100%;
}

.inputContainer {
  margin-bottom: var(--spacing-xs);
  padding: 0 8px;
  width: 100%;
}

.input {
  border: 1px solid var(--color-blue-55);
  border-radius: var(--border-radius-m);
  font-size: 18px;
  padding: var(--spacing-m);
  width: 100%;
}

.input::placeholder {
  color: var(--color-darkGrey-40);
}

.loading,
.noMatch {
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: center;
}
