@import '../../variables.css';

.track {
  display: flex;
  position: relative;
  width: 100%;
}

.body {
  align-items: center;
  cursor: pointer;
  height: var(--spacing-xxl);
  display: flex;
  padding: 0 var(--spacing-xs);
  width: 100%;
}

.body:hover {
  background-color: var(--color-black-10);
  transition: background-color var(--transition-short);
}

.isActive .body {
  opacity: 0.2;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: var(--spacing-m);
  min-width: 0;
}

.subtext {
  color: var(--color-darkGrey-85);
  display: flex;
  font-size: 14px;
}

.artist {
  flex-shrink: 0;
  margin-right: var(--spacing-xs);
}

.album {
  margin-left: var(--spacing-xs);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.image {
  flex-shrink: 0;
  margin: 0;
  padding: 2px;
  width: 48px !important;
}

.duration {
  flex-shrink: 0;
  margin-left: auto;
  padding-left: var(--spacing-m);
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overlay {
  align-items: center;
  background-color: var(--color-black-55);
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  z-index: var(--zIndex-infront);
  width: 100%;
}

.button + .button {
  margin-left: var(--spacing-s);
}
