@import '../../variables.css';

.action {
  align-items: center;
  display: flex;
}

.action:not(:first-child) {
  margin-top: var(--spacing-m);
}

.arrow {
  margin-left: var(--spacing-l);
  cursor: pointer;
  height: var(--spacing-xl);
  fill: white;
  width: var(--spacing-xl);
  flex-shrink: 0;
}
