@import '../../variables.css';

.box {
  background: var(--color-white-70);
  border-radius: var(--border-radius-l);
  width: 400px;
  padding: var(--spacing-xl);
  margin-top: auto;
  margin-bottom: auto;
}

.mobile.box {
  width: 100%;
  border-radius: 0;
}

.hasTitle {
  padding-top: var(--spacing-l);
}

.title {
  margin-bottom: var(--spacing-m);
}
