@import '../../variables.css';

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: var(--zIndex-behind);
  overflow: hidden;
}

.background {
  background-image: url('/static/images/church.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(3px) contrast(150%);
  width: 110%;
  height: 110%;
  position: relative;
  top: -5%;
  left: -5%;
}
