@import '../../variables.css';

.page {
  color: var(--color-font-primary);
  font: normal normal 400 16px/22px 'Raleway', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 385px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.header {
  align-items: center;
  color: white;
  flex-direction: column;
  flex-shrink: 0;
  display: flex;
  position: relative;
}
