@import '../../variables.css';

.container {
  justify-content: center;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin: calc(-1 * var(--spacing-s)) calc(-1 * var(--spacing-s)) var(--spacing-m) 0;
  width: 100%;
}

.item {
  background: var(--color-white-25);
  color: white;
  display: inline-block;
  margin: 0 var(--spacing-s) var(--spacing-s) 0;
  padding: var(--spacing-xs) var(--spacing-s);
  text-decoration: none;
  transition: background var(--transition-short);
  white-space: nowrap;
}

.item:hover,
.activeItem {
  background: var(--color-white-55);
}
