@import '../../variables.css';

.table {
  border-spacing: 0;
  min-width: 520px;
}

.head td {
  border-bottom: 1px solid var(--color-grey-55);
  font-weight: bold;
  padding: var(--spacing-xs);
}

.row {
  cursor: pointer;
  transition: var(--transition-short);
}

.row:nth-child(even) {
  background: var(--color-grey-10);
}

.row:hover {
  background: var(--color-grey-25);
}

.row td {
  font-size: 14px;
  padding: var(--spacing-xs);
}
