@import '../variables.css';

.container {
  background: var(--color-black-25);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--zIndex-modal);
}

.modal {
  background: white;
  border-radius: var(--border-radius-l);
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  max-height: 95%;
}

.title {
  margin-right: var(--spacing-m);
}

.header {
  align-items: center;
  border-bottom: 1px solid var(--color-grey-40);
  display: flex;
  flex-shrink: 0;
  height: var(--spacing-xxl);
  padding: 0 var(--spacing-l);
}

.close {
  color: var(--color-darkGrey-40);
  cursor: pointer;
  font-size: 24px;
  margin-left: auto;
}

.close:hover {
  color: var(--color-darkGrey-70);
}

.body {
  overflow-y: auto;
  padding: var(--spacing-l);
}
