@import '../../variables.css';

.action {
  align-items: center;
  display: flex;
}

.action:not(:first-child) {
  margin-top: var(--spacing-m);
}

.arrow {
  margin-left: var(--spacing-l);
  cursor: pointer;
  height: var(--spacing-xl);
  stroke: var(--color-black-70);
  fill: none;
  width: var(--spacing-xl);
  flex-shrink: 0;
  transition: stroke var(--transition-short);
}

.arrow:hover {
  stroke: var(--color-black-40);
}

.disabled .arrow {
  cursor: not-allowed;
  stroke: var(--color-black-25);
}
