@import '../../variables.css';

.input {
  border: none;
  background: var(--color-blue-55);
  color: white;
  padding: var(--spacing-m);
  flex-grow: 1;
  width: 100%;
  min-width: 255px;
}

.input::placeholder {
  color: white;
}

.input + .input {
  margin-top: var(--spacing-m);
}
