@import '../variables.css';

.body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.body.fill {
  justify-content: center;
  padding-top: -5%;
  flex-grow: 1;
}

.title:before,
.title:after {
  color: var(--color-blue-55);
  flex-shrink: 0;
  font-size: 16px;
  content: 'â¤';
}

.title:before {
  margin-right: var(--spacing-m);
}

.title:after {
  margin-left: var(--spacing-m);
}

.title {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  margin: var(--spacing-l) var(--spacing-m);
  text-align: center
}

.children {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: var(--spacing-l);
}

.fill .children {
  margin-bottom: var(--spacing-xxl);
}

.body {
  flex-shrink: 0;
}

.prevnext {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: var(--spacing-s) 0 var(--spacing-l) 0;
  padding: 0 var(--spacing-m);
  max-width: 920px;
  width: 100%;
}

.prevnext > * + * {
  margin-left: var(--spacing-m);
}
