@import '../variables.css';

.spinner {
  animation: spin 2s infinite linear;
  fill: var(--color-blue-70);
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(359deg);
  }
}
